<h1>Detail for user</h1> 
<div class="cocktail-card">
    <h2><%= name %></h2>
    <h3><%= category %></h3>
    <div><img src="<%= image %>" %></div>
    <ul>
        <% ingredients.forEach(element => { %>
            <li><%= element.ingredient %> : <%= element.amount %> </li>
        <% }) %>
    </ul>
    <div>
        <p><%= steps %> </p>
    </div>
    <!-- <button><a href="">Login for more infomations</a></button> To do: add /user/cocktail-details route -->


</div>