<h1>Detail for user</h1> 
<div class="wrapper">
    <div class="cocktail-name">
        <h2><%= name %></h2>
        <h3><%= category %></h3>
    </div>
    
    <ul class="cocktail-ingredients">
        <p>Author: <%= authorName %> </p>
        <h5>Ingredients: </h5>
        <% ingredients.forEach(element => { %>
            <li><%= element.ingredient %> : <%= element.amount %> </li>
        <% }) %>
        <div>
            <h5>Preparations & Recommendations:</h5>
            <p><%= steps %> </p>
        </div>
    </ul>
    
    <div class="picture">
        <div><img src="<%= image %>" style="width:100%; border-radius: 20px;"></div>
        <form action="/user/like/<%= id %>" method="POST">
            <button type="submit" class="delete-btn">Like</button>
        </form>
    </div>

    <button class="moreInfo-btn"><a href="/user/profile">Back to Profile page</a></button>
    
</div>