<h1>Edit Your Cocktail</h1>

<form action="/user/edit/<%= cocktail.id %>" method="POST" enctype="multipart/form-data" class="input-form">
  <label for="name">Name of the cocktail:</label>
    <input type="text" name="name" value="<%= cocktail.name %>" />
  

  <label for="category" >Category:</label>
    <!--<input type="text" name="category" value="<%= cocktail.category %>" />-->
    <select name="category">
      <option value="">--Please choose an option--</option>
      <option value="Alcoholic" <% if (cocktail.category === "Alcoholic") { %>
       selected
      <% } %>>Alcoholic</option>
      <option value="Non alcoholic" <% if (cocktail.category === "Non alcoholic") { %>
        selected
       <% } %>>Non Alcoholic</option>
    </select>
  
  <label> Upload a different image
    <input id="image-uplode" type="file" name="receta-img" accept=".jpg, .png">
  </label>
  <div class="preview">
    <p>Please choose an image</p>
  </div>

  <label
    >Ingredients:
    <div class="add-ingredients">
      <% cocktail.ingredients.forEach(element => { %>
          <div>
            <label> Ingredient: 
              <input type="text" name="ingredient" value="<%= element.ingredient %>" />
            </label>
            <label> Amount: 
              <input type="text" name="amount" value="<%= element.amount %>" />
            </label>
          </div>    
      <% }) %> 
    </div>  
    
    <button class="add-ingredient" type="button">Add another ingredient</button>
  </label>

  <label for="steps"> Preparations & Recommendations</label>
    <textarea type="text" name="steps" rows="10"cols="50"><%= cocktail.steps %></textarea>
  

  <button type="submit">Update</button>
</form>
<script src="/js/add-ingredient.js"></script>
<script src="/js/image-preview.js"></script>



