
<div class="profile-divs">
  <div class="profile-head">
    <!--<div class="user-img">
    <img src="/images/whiskey-sour.PNG" alt="cocktail image" style="width: 150px;"/>
    </div>-->
    <div class="welcome">
      <p>Welcome, <%= userInSession.username %>!</p>
      <div>This is your profile page!</div>
      <button>
        <a href="/user/create-cocktail">Create new Cocktail</a>
      </button>
    </div>  
  </div>

  <div class="cocktail-card">
    <h2>Your cocktail recipes:</h2>
    <div class="profile-list">
      <% cocktailList.forEach(({id, name, image}) => { %>
        <div>
          <div class="polaroid">
            <div><img src="<%= image %> " alt="Cocktail Image" height="100px" style="width:100%"></div>
            <div class="container"><a href="/user/details-private/<%= id %>"><%= name %></a></div>
                                
          </div>
          <div><a href="/user/edit/<%= id %>">Edit</a></div>
          <form action="/user/delete/<%= id %>" method="POST">
            <button type="submit">Delete</button>
          </form> 
        </div> 
      <% }) %>
    </div>
  </div>
</div>
 <!-- <div class="profile-card">
    <h2>Your Likes:</h2>
    <div class="profileList">

    </div>
</div>
</div>-->


