<h1>Cocktail Lab</h1>
<div id="cocktail-poster" class="profile-divs">
    <div class="cocktail-card">
        <h2>Alcoholic</h2>
        <div class="cocktailList">
            <% cocktailAlcToShow.forEach(({id, name, image}) => { %>
                <div class="polaroid">
                    <img src="<%= image %> " alt="Cocktail Image" style="width:100%">
                    <div class="container"><a href="/details/<%= id %>"><%= name %></a></div>                    
                </div>
            <% }) %>    
        </div>
        <button><a href="/list/1">All alcoholic cocktails</a></button>
    </div>
    <div class="cocktail-card">
        <h2>No Alcoholic</h2>
        <div class="cocktailList">
            <% cocktailNAlcToShow.forEach(({id, name, image}) => { %>
                <div class="polaroid">
                    <img src="<%= image %> " alt="Cocktail Image" style="width:100%">
                    <div class="container"><a href="/details/<%= id %>"><%= name %></a></div>                                        
                </div>
            <% }) %>
        </div>
        <button><a href="/list/0">All non alcoholic cocktails</a></button>
    </div>
</div>
