<h1>Cocktail Lab</h1>
<div id="cocktail-poster" class="profile-divs">
    <div class="cocktail-card">
        <h2>Alcoholic</h2>
        <div class="cocktailList">
            <% cocktailAlcToShow.forEach(({id, name, image}) => { %>
                <div>
                    <div><img src="<%= image %> " alt="Cocktail Image" height="200px"></div>
                    <h3><a href="/details/<%= id %>"><%= name %></a></h3>                    
                </div>
            <% }) %>
            
        </div>
    </div>
    <div class="cocktail-card">
        <h2>No Alcoholic</h2>
        <div class="cocktailList">
            <% cocktailNAlcToShow.forEach(({id, name, image}) => { %>
                <div>
                    <div><img src="<%= image %> " alt="Cocktail Image" height="200px"></div>
                    <h3><a href="/details/<%= id %>"><%= name %></a></h3>                                        
                </div>
            <% }) %>
        </div>
    </div>
</div>
